html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
    --main-bg: black;
    --alt-bg: rgb(11, 11, 11);
    --main-fg: rgb(0, 255, 0);
    --alt-fg: rgb(0, 200, 0);
    background-color: var(--main-bg);
    color: var(--main-fg);
    font-size: 25px;
}